html, body { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

a img { border: none; }


.center { text-align: center; }

.big { font-size: 1.2em; }

.hidden { display: none; }

#main { font-family: "Lucida Grande", Helvetica; background: #2e434b none repeat scroll 0 0; margin: 0; }

#main #header { background-color: #2e434b; float: left; width: 100%; }

#main #header_container { margin-left: auto; margin-right: auto; width: 450px; }

#main #logo { margin: 0px auto; padding-top: 40px; padding-bottom: 40px; }

#main #logo h1 { text-indent: -9999em; overflow: hidden; background-image: url(/images/logo_main.png); background-repeat: no-repeat; background-position: 50% 50%; margin: 0px auto; width: 403px; height: 72px; }

#main #container { clear: both; }

#main #contents { width: 400px; border: 2px solid #c5c5c5; background-color: #e5e5e5; margin: 0px auto; padding: 20px; }

#main #contents label { font-size: 1.6em; }

#main #contents input { font-size: 1.8em; }

#main #contents input[type=text], #main #contents input[type=password] { width: 395px; }

#main #user { margin: 0px auto; }

#main #user input { margin-bottom: 20px; }

#main #user #action { margin-top: 5px; text-align: center; }

#main #user #action input[type=submit] { margin-bottom: 0; text-align: center; }


#msgbox { font-size: 1.5em; color: black; text-align: center; }

#errbox { font-size: 1.5em; color: red; text-align: center; }

.button {
  background-image: url(/images/form-button-bg.gif);
  background-repeat: repeat-x;
  border: 1px solid #cacaca;
  font-size: 0.5em;
  padding: 5px;
  color: #2b2b2b;
  text-align: center;
}